@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body {
  background-color: rgb(226, 231, 229);
}
.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(167, 164, 164);
  padding: 20px;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
}

#alarmSet {
  margin: 20px;
}

h1 {
  text-align: center;
}
button {
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: rgb(156, 187, 156);
  box-shadow: 1px 1px 3px;
}
#alarmSet {
  border-radius: 6px;
  border: 1px solid rgb(156, 187, 156);
  background-color: rgb(203, 219, 203);
}
